---
layout: default
---

 <div class="container docs-container">
	<div class="content col-md-9" role="main">
		<div class="bg-content index-border-content">
			<div class="light"><i></i></div>
			<div class="main">
				
				
				{% for post in site.posts  %}
					
					<article>
						
						<h1 class="title">
							<a href="{{ post.url | prepend: site.baseurl }}">
							{{ post.title }}
							</a>
						</h1>
						<div class="meta">
							<time>{{ post.date | date: "%m月%e日" }}</time>
						</div>
						<div class="content">
							
							<p>{{post.detail}}</p>
							...
						</div>
						<a class="read-more" href="{{ post.url | prepend: site.baseurl }}">
							阅读全文 »
						</a>
					</article>						
				{% endfor %}
				
									
				
				
				
			</div> 
			
		</div>
	</div>
	{% include right_info.html %} 
</div>
