.right-side{
	
	margin-top: 50px;
	/* padding:60px 10px 80px 10px;
	-webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); */
}
.about a{
	color: #bfbfbf!important;
}
.about a:hover{
	color: #545286!important;
	text-decoration: none;
}

.about h1{
	
	
}
.about img{
	width: 80%;
    display: block;
    border-radius: 5px;
	margin-bottom: 20px;
}
.tags a{
	display: inline-block;
    border: 1px solid rgba(255,255,255,.8);
    border-radius: 999em;
    padding: 0 10px;
    color: #fff;
    line-height: 24px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
    margin-bottom: 6px;
	border-color: #bfbfbf;
	margin-right: 5px;
}
.is-fixed{
	
    
}