<div class="col-md-3 right-side">
     <div class="about">
		<h1><a href="http://zhongyp.me/tag/">TAGS</a></h1>
		<hr>
		<div class="tags">
		
		
			{% for tag in site.tags %}
				
				<a href="{{ site.baseurl }}/tag/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
					{{ tag[0] }}
				</a>
				
			{% endfor %}
			
					
		</div>
	 
	 
	 
	 
		<!-- <h1><a href="http://zhongyp.me/me/">ABOUT ME</a></h1>
		<hr>
        <img src = "{{ '/styles/images/mine.jpg' | prepend: site.baseurl }}" />
		
		
		<ul class="list-inline">
            <li>
				<a href="https://twitter.com/zhongyp">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.zhihu.com/people/zhongyp.me">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa  fa-stack-1x fa-inverse">知</i>
					</span>
				</a>
			</li>
			
			
			<li>
				<a target="_blank" href="http://weibo.com/zhongyp001">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
			
			
			
			<li>
				<a target="_blank" href="https://github.com/zhongyp">
					<span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-github fa-stack-1x fa-inverse"></i>
					</span>
				</a>
			</li>
		</ul>
		
		
		
		<h1><a href="http://zhongyp.me/me/">CONTACT ME</a></h1>
		<hr>
		<img src="{{ '/styles/images/focus.jpg' | prepend: site.baseurl }}"/> -->
    </div>
</div>

